@font-face {
  font-family: main;
  src: url("../assets/fonts/main.otf");
}
@font-face {
  font-family: main;
  src: url("../assets/fonts/body.otf");
}
html {
  font-size: 100%;
  padding: 0%;
  margin: 0%;
  height: 100%;
}

body {
  min-height: 100%;
  height: fit-content;
  color: white;
  font-family: body;
  background-image: linear-gradient(to right top, #383838, #2c2c2c, #202020, #151515, #040404);
  background-size: cover;
  background-attachment: fixed;
  user-select: none;
  margin: 0%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}
body img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

header {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  width: 100%;
  height: 24%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}
header h1 {
  font-size: 3rem;
  margin-left: 0.5em;
  font-family: main !important;
}
header img {
  margin-left: 1em;
  transition: transform 300ms ease-in-out;
  -webkit-transition: transform 300ms ease-in-out;
  -moz-transition: transform 300ms ease-in-out;
  -ms-transition: transform 300ms ease-in-out;
  -o-transition: transform 300ms ease-in-out;
}
header img:hover {
  cursor: pointer;
  background-color: rgba(94, 94, 94, 0.4);
}
header img.show {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15%;
}
footer p {
  margin: 0.4em;
  color: white;
}
footer p a:visited {
  color: white;
}
footer p a:hover {
  color: white;
}

#side-bar {
  color: black;
  background-color: #f2f3f4;
  border: black 2px solid;
  width: 20%;
  min-width: 280px;
  min-height: 100%;
  margin-right: 1em;
  padding: 1em;
  box-sizing: border-box;
  transition: transform 300ms ease-in-out;
  -webkit-transition: transform 300ms ease-in-out;
  -moz-transition: transform 300ms ease-in-out;
  -ms-transition: transform 300ms ease-in-out;
  -o-transition: transform 300ms ease-in-out;
}

#local-container {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
#local-container p {
  font-size: 1.35rem;
  margin: 0%;
  font-weight: 900;
  display: inline-block;
  position: relative;
  color: black;
}
#local-container p::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 500ms ease-out;
  -webkit-transition: transform 500ms ease-out;
  -moz-transition: transform 500ms ease-out;
  -ms-transition: transform 500ms ease-out;
  -o-transition: transform 500ms ease-out;
}
#local-container p:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#local-container p:hover {
  cursor: pointer;
}

#side-bar.slide {
  transform: translate(-150%);
  -webkit-transform: translate(-150%);
  -moz-transform: translate(-150%);
  -ms-transform: translate(-150%);
  -o-transform: translate(-150%);
}

#middle {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-grow: 1;
}

#one, #two {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}
#one h3, #two h3 {
  font-size: 1.7rem;
  text-decoration: underline;
}
#one h3:hover, #two h3:hover {
  cursor: pointer;
}
#one img, #two img {
  width: 30px;
  margin-right: 0.7em;
  transition: transform 300ms ease-in-out;
  -webkit-transition: transform 300ms ease-in-out;
  -moz-transition: transform 300ms ease-in-out;
  -ms-transition: transform 300ms ease-in-out;
  -o-transition: transform 300ms ease-in-out;
}
#one img:hover, #two img:hover {
  cursor: pointer;
  image-rendering: crisp-edges;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

#all {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
  padding: 1em;
  box-sizing: border-box;
}
#all img {
  width: 20px;
  margin-right: 0.6em;
}

#tasks-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#tasks-header img {
  align-self: center;
  margin-left: 2em;
  cursor: pointer;
  transition: transform 100ms ease-in-out;
  -webkit-transition: transform 100ms ease-in-out;
  -moz-transition: transform 100ms ease-in-out;
  -ms-transition: transform 100ms ease-in-out;
  -o-transition: transform 100ms ease-in-out;
}
#tasks-header img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
#tasks-header img:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

.project-class {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
  padding: 1em;
  box-sizing: border-box;
}
.project-class div {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.project-class img {
  width: 20px;
  margin-right: 0.6em;
}
.project-class .del-project {
  width: 25px;
  transition: transform 100ms ease-in-out;
  -webkit-transition: transform 100ms ease-in-out;
  -moz-transition: transform 100ms ease-in-out;
  -ms-transition: transform 100ms ease-in-out;
  -o-transition: transform 100ms ease-in-out;
}
.project-class .del-project:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.project-class .del-project:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

.project-class:hover {
  cursor: pointer;
  background-color: rgba(94, 94, 94, 0.4);
}

#form3, #form4, #form6 {
  cursor: pointer;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}
#projects #plus-icon-side {
  align-self: center;
  transition: transform 100ms ease-in-out;
  -webkit-transition: transform 100ms ease-in-out;
  -moz-transition: transform 100ms ease-in-out;
  -ms-transition: transform 100ms ease-in-out;
  -o-transition: transform 100ms ease-in-out;
}
#projects #plus-icon-side:hover {
  cursor: pointer;
  transform: scale(1.15);
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
}
#projects #plus-icon-side:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}
#projects h4 {
  font-size: 1.32em;
  font-weight: 800;
  margin: 0%;
  text-transform: capitalize;
}
#projects #form-container {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#projects #form-container form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#projects #form-container form input {
  padding: 1.1em;
  width: 100%;
  height: 70px;
  display: inline-block;
  border-radius: 8px;
  box-sizing: border-box;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  outline: none;
  border: 2px solid;
  background-color: white;
  font-size: 1.2rem;
}
#projects #form-container form input::placeholder {
  font-size: 0.81rem;
  color: black;
  transition: transform 300ms ease-in-out;
  -webkit-transition: transform 300ms ease-in-out;
  -moz-transition: transform 300ms ease-in-out;
  -ms-transition: transform 300ms ease-in-out;
  -o-transition: transform 300ms ease-in-out;
}
#projects #form-container form input:focus::placeholder {
  transform: translateY(-18px);
  -webkit-transform: translateY(-18px);
  -moz-transform: translateY(-18px);
  -ms-transform: translateY(-18px);
  -o-transform: translateY(-18px);
}
#projects #form-container form input:invalid:focus {
  border-color: red;
}
#projects #form-container form input:focus {
  outline: none;
}
#projects #form-container form input:valid {
  border-color: green;
}
#projects #form-container #btns {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#projects #form-container #btns button {
  width: 50%;
  padding: 1em;
  border: 1px solid black;
  background-color: white;
  color: black;
  font-size: 1.13rem;
  font-weight: 900;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: transform 100ms ease-in-out;
  -webkit-transition: transform 100ms ease-in-out;
  -moz-transition: transform 100ms ease-in-out;
  -ms-transition: transform 100ms ease-in-out;
  -o-transition: transform 100ms ease-in-out;
}
#projects #form-container #btns button:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  cursor: pointer;
}
#projects #form-container #btns button:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

#tasks {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100%;
  height: fit-content;
  text-align: center;
  transition: transform 300ms ease-in-out;
  -webkit-transition: transform 300ms ease-in-out;
  -moz-transition: transform 300ms ease-in-out;
  -ms-transition: transform 300ms ease-in-out;
  -o-transition: transform 300ms ease-in-out;
}
#tasks h2 {
  width: 20%;
  padding: 0.8em;
  box-sizing: border-box;
  border: 4px solid white;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
#tasks .task-item {
  height: 110px;
  min-width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  border: 2px solid white;
  margin: 1em;
  margin-left: 0%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 0.8em;
  box-sizing: border-box;
  transition: transform 50ms ease-in-out;
  -webkit-transition: transform 50ms ease-in-out;
  -moz-transition: transform 50ms ease-in-out;
  -ms-transition: transform 50ms ease-in-out;
  -o-transition: transform 50ms ease-in-out;
}
#tasks .task-item p {
  text-align: center;
  font-size: 1.2rem;
  margin: 1em;
  max-width: 16%;
  min-width: 16%;
  overflow-wrap: break-word;
}
#tasks .task-item p#priority-input {
  text-align: center;
  font-size: 1.2rem;
  margin: 0%;
  max-width: 5%;
  min-width: 5%;
}
#tasks .task-item #schedule {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 15%;
  min-width: 15%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#tasks .task-item #schedule p {
  min-width: 100%;
  margin: 0%;
}
#tasks .task-item .edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-height: 110px;
  max-width: 13%;
  min-width: 13%;
}
#tasks .task-item .edit div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 0.2em;
  height: 42px;
  box-sizing: border-box;
  font-size: 1.5rem;
  font-weight: 900;
  color: black;
  border: 2px solid black;
  background-color: white;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: transform 80ms ease-in-out;
  -webkit-transition: transform 80ms ease-in-out;
  -moz-transition: transform 80ms ease-in-out;
  -ms-transition: transform 80ms ease-in-out;
  -o-transition: transform 80ms ease-in-out;
}
#tasks .task-item .edit div p {
  min-width: fit-content;
}
#tasks .task-item .edit div:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  cursor: pointer;
}
#tasks .task-item .edit div:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}
#tasks .task-item .task-name {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.4rem;
  max-width: 20%;
  min-width: 20%;
  color: black;
  padding: 0.2em;
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  height: 80%;
  text-transform: capitalize;
}
#tasks .task-item .description {
  min-width: 22%;
  max-width: 22%;
  overflow-wrap: break-word;
  margin-left: 1em;
}
#tasks .task-item:hover {
  background-color: rgba(94, 94, 94, 0.4);
}

.slide-left {
  transform: translate(-20%);
  -webkit-transform: translate(-20%);
  -moz-transform: translate(-20%);
  -ms-transform: translate(-20%);
  -o-transform: translate(-20%);
}

#date-icon, #finished-icon, #tag-icon, #priority-icon {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}
#date-icon img, #finished-icon img, #tag-icon img, #priority-icon img {
  margin-right: 0.5em;
  width: 20px;
}

#content {
  width: 75%;
  height: 100%;
  transition: transform 300ms ease-in-out;
  -webkit-transition: transform 300ms ease-in-out;
  -moz-transition: transform 300ms ease-in-out;
  -ms-transition: transform 300ms ease-in-out;
  -o-transition: transform 300ms ease-in-out;
}

#task-form-container {
  background-color: white;
  width: 350px;
  height: 500px;
  padding: 2em;
  position: absolute;
  border: 2px solid black;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#task-form-container img {
  user-select: none;
  cursor: pointer;
  margin-bottom: 1em;
  align-self: flex-start;
  padding: 0%;
  transition: transform 100ms ease-in-out;
  -webkit-transition: transform 100ms ease-in-out;
  -moz-transition: transform 100ms ease-in-out;
  -ms-transition: transform 100ms ease-in-out;
  -o-transition: transform 100ms ease-in-out;
}
#task-form-container img:hover {
  transform: scale(1.15);
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
}
#task-form-container img:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}
#task-form-container button {
  background-color: black;
  border: 2px white solid;
  color: white;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  transition: transform 100ms ease-in-out;
  -webkit-transition: transform 100ms ease-in-out;
  -moz-transition: transform 100ms ease-in-out;
  -ms-transition: transform 100ms ease-in-out;
  -o-transition: transform 100ms ease-in-out;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#task-form-container button:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
#task-form-container button:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

#add-task-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
#add-task-form input, #add-task-form select {
  min-height: 50px;
  width: 100%;
  padding: 0.2em;
  font-size: 1rem;
  border: 2px solid black;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  box-sizing: border-box;
}
#add-task-form input:invalid:focus, #add-task-form select:invalid:focus {
  border-color: red;
}
#add-task-form input:focus, #add-task-form select:focus {
  outline: none;
}
#add-task-form input:valid, #add-task-form select:valid {
  border-color: green;
}

.popup {
  filter: blur(20px);
  -webkit-filter: blur(10px);
}

#mask {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9000;
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
